*

!/.envrc
!/.gitignore
!/args.gn
!/deploy.sh
!/flake.lock
!/flake.nix
!/generate-release

!/README.md
!/LICENSE
!/LICENSE.Apache-2.0-note
!/LICENSE.FTL-note
!/LICENSE.GPL-2.0
!/LICENSE.WebView-note

!/patches/
!/patches/**
!/bin/
!/bin/**

!/subprojects_patches/
!/subprojects_patches/**
!/tools/
!/tools/**
!/.gclient
